/* Font Faces */
@font-face {
  font-family: "SF Bold";
  src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Regular";
  src: url("./fonts/SF_Pro_Display_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-gray-color: #f0f2f5;
  --yellow-color: #ffc23e;
  --post-bg-color: #fff;
  --blue-color: rgba(0, 179, 255, 0.915);
  --gray-color: rgb(148, 148, 148);
  --link-color: #006ed5;
  --black-color: #000000;
  --white-color: #ffffff;
  --post-body: #515151;

  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  --bg-gray-color: #242526;
  --white-color: #3a3b3c;

  --black-color: #fff;

  --post-bg-color: #3a3b3c;
  --post-body: #fff;
}

.navBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--primary-text-color);
}

.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  right: 6em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
html,
body {
  height: 100%;
  width: 100%;
}

.App {
  transition: background-color 0.25s ease-in-out;
}

/* Buttons */
button:hover,
.read-more {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--blue-color);
  font-size: 0.9rem;
}

/* Navbar */
.navbar {
  justify-content: space-between;
  padding: 15px;
  background-color: #000;
}

/* Course Button */
#course {
  font-family: "SF Bold", sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--yellow-color);
  border: none;
  color: #000;
  font-size: 0.9rem;
}

/* User Profile */
.user-profile {
  position: relative;
  font-family: "SF Regular", sans-serif;
  background-color: var(--bg-gray-color);
}

.cover-picture {
  text-align: center;
  background-color: var(--white-color);
}

.cover-picture img {
  width: 100%;
  height: 30vh;
  border-radius: 0 0 10px 10px;
}

.profile-overlay {
  position: relative;
  background-color: var(--white-color);
}

.profile-overlay img {
  position: absolute;
  height: 130px;
  left: 5%;
  top: -40%;
  border-radius: 50%;
  border: 3px solid var(--white-color);
}

/* Details */
.details {
  padding-left: 180px;
}

.details h3 {
  font-family: "SF Bold", sans-serif;
  padding-bottom: 5px;
  color: var(--black-color);
}

/* Follow */
.follow {
  display: flex;
  gap: 10px;
}

/* Follow Count */
.fl-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--gray-color);
}

.fl-count h3 {
  padding: 5px 20px;
  border-radius: 7px;
  border: 2px solid var(--gray-color);
  font-size: 1rem;
}

.fl-count span {
  font-size: 0.8rem;
}

/* Username */
.username {
  align-items: center;
  gap: 5px;
}

/* About */
.about {
  padding: 0 30px;
  background-color: var(--white-color);
  padding-top: 7%;
}

.about p {
  padding-bottom: 5px;
  color: var(--black-color);
}

.about a {
  text-decoration: none;
  color: var(--link-color);
}

/* Stat Container */
.statContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  color: var(--black-color);
}

/* Stat */
.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stat span {
  font-size: 0.9rem;
}

.stat:hover {
  cursor: pointer;
}

/* User Posts */
.user-posts {
  background-color: var(--bg-gray-color);
  gap: 15px;
  padding: 0 15px;
}

.post-count {
  color: var(--blue-color);
  padding-top: 10px;
}

/* Post */
.post {
  line-height: 1.4;
  padding: 15px;
  background: var(--post-bg-color);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.post:last-child {
  margin-bottom: 20px;
}

/* Heading */
.heading {
  align-items: center;
  justify-content: space-between;
  color: var(--black-color);
}

/* Post Body */
.post-body {
  font-size: 1rem;
  color: var(--post-body);
  padding: 10px 0;
}

/* Post Details */
.post-details {
  display: flex;
  justify-content: space-between;
  color: darkgrey;
}

.post-details p {
  font-size: 12px;
}

.post-details span {
  color: var(--blue-color);
}


/* Media Queries */
@media (min-width: 992px) {
  .cover-picture img {
    width: 70%;
    height: 35vh;
  }

  .profile-overlay {
    padding: 10px 20%;
  }

  .profile-overlay img {
    left: 20%;
  }

  .details {
    padding-left: 150px;
  }

  .about {
    padding: 0 20%;
  }

  .statContainer {
    padding-bottom: 20px;
  }

  .user-posts {
    margin: 0 18.7%;
  }
}

/* Flexbox */
.flex {
  display: flex;
}

/* Flex Column */
.fl-col {
  display: flex;
  flex-direction: column;
}
