@font-face {
  font-family: 'SF Bold';
  src: url('../public/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Regular';
  src: url('../public/fonts/SF_Pro_Display_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: black;
}

#course {
  font-family: 'SF Bold', sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffc23e;
  border: none;
}


.user-profile {
  position: relative;
  font-family: 'SF Regular', sans-serif;
}

.cover-picture {
  position: relative;
  z-index: 1;
}

.profile-overlay {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
  height: 20vh;
  margin-top: -25px;
  /* background-color: rgba(240, 240, 240, 0.8); */
}

/* .cover-picture, .profile-overlay, .about {
  background-color: rgba(240, 240, 240, 0.8);
} */

.details {
  display: flex;
  flex-direction: column;
}

.profile-overlay img {
  z-index: 99;
  border-radius: 50%;
  border: 2px solid rgb(148, 148, 148);
}

.details h3 {
  font-family: 'SF Bold', sans-serif;
  padding-bottom: 5px;
}

.follow {
  display: flex;
  gap: 10px;
}

.fl-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fl-btn h3 {
  padding: 5px 20px;
  border-radius: 7px;
  border: 2px solid rgb(175, 175, 175);
  color: rgb(148, 148, 148);
  font-size: 16px;
}

.fl-btn span {
  font-size: 14px;
  color: rgb(148, 148, 148);
}

.about {
  padding: 0 30px;
}

.about p {
  padding-bottom: 5px;
}

.about a {
  text-decoration: none;
}

.statContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 75%;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-posts {
  border-top: 1px solid rgba(0, 0, 0, 0.212);
  padding: 0 20px;
  /* background-color: rgba(240, 240, 240, 0.921); */
}

.post-count {
  color: rgba(0, 179, 255, 0.915);
  padding: 10px 0;
}

.post {
  line-height: 1.4;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.post h3 {
  font-family: 'SF Bold', sans-serif;
}

.post-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 13px;
  color: darkgrey;
}

.post-details span {
  color: rgba(0, 179, 255, 0.915);
}

.read-more {
  background: transparent;
  border: none;
  color: rgba(0, 179, 255, 0.915);
}

@media (min-width: 768px) {
  .cover-picture {
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  
  .cover-picture img {
    border-radius: 0 0 10px 10px;
  }

  .profile-overlay {
    padding: 0 20%;
  }
  
  .about {
    padding: 0 32.5%;
  }

  .statContainer {
    width: 100%;
    padding-bottom: 20px;
  }

  .user-posts {
    /* padding: 0 20%; */
    margin: 0 11%;
  }
}